body{
  padding: 0;
  margin: 0;
}

h1 {
  margin-top: 50px;
  text-align: center;
}

#nav-home {
  width: 100%;
  display: flex;
  position: absolute;
  background-color: #202020;
  z-index: 40;
}

#nav-title {
  color: #fff;
  margin: auto 20px auto 40px;
  text-decoration: none;
  font-weight: bold;
  font-size: 40px;

}

#nav-list {
  float: left;
  list-style: none;
  margin-left: 30px;
  font-size: 20px;
}

#nav-list a {
  color: #fff;
  text-decoration: none;
}

#block {
  margin-top: 40px;
}

#form{
  text-align: center;
}
#form-nome {
  resize: none;
}